:root {
    --main-color: #f4f5fe;
}

.Admin {
    min-height: 100vh;
}


.bg-main-color {
    background-color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.border-main-color {
    border-color: var(--main-color);
}


button {
    background-color: green;
}

.boton-save {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.dashboard{
    height: 100%;
}
@media (min-width:1119px){
    .dashboard{
        height: 100vh;
    }
}

.dashboard input {
    background-color: #ecedf6;
}

.dashboard img {
    width: 6rem;
    margin-bottom: 2rem;
}

.acerca input {
    background-color: #f4f5fe;
}

.acerca textarea {
    background-color: #f4f5fe;
    border: none;
    outline: none;
}

.proyectos-list li {
    box-shadow: 1px 6px 14px #f16787;
    padding: 30px 50px;
    border-radius: 10px;
    background: rgb(239, 71, 112);
    background: linear-gradient(52deg, rgba(239, 71, 112, 1) 0%, rgba(242, 109, 140, 1) 100%);
}


.proyectos-list {
    align-items: stretch;
}