@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #191919;
  background-image: url("./components/home/bg.png");
  background-size: 100% 100%;
}

@media (min-width: 1028px) {
  body{
    height: 103vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  max-width: 80vw;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background: #ccced5;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #e8532e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}