@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  background: #f3f6fb;
  color: #112130;
  background-image: url("./components/home/gradient.png");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  max-width: 80vw;
  margin: auto;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background: #ccced5;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #112130;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}