@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  background: #f3f6fb;
  color: #112130;
  background-image: url("./components/home/gradient.png");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  max-width: 80vw;
  margin: auto;
}
